<?xml version="1.0" ?>
<config>
    <modules>
        <GoodsCloud_Sync>
            <version>1.0.1</version>
        </GoodsCloud_Sync>
    </modules>
    <global>
        <models>
            <goodscloud_sync>
                <class>GoodsCloud_Sync_Model</class>
            </goodscloud_sync>
        </models>
        <resources>
            <goodscloud_sync_setup>
                <setup>
                    <module>GoodsCloud_Sync</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </goodscloud_sync_setup>
        </resources>
        <helpers>
            <goodscloud_sync>
                <class>GoodsCloud_Sync_Helper</class>
            </goodscloud_sync>
        </helpers>
    </global>
    <default>
        <goodscloud_sync></goodscloud_sync>
    </default>
    <phpunit>
        <suite>
            <modules>
                <GoodsCloud_Sync/>
            </modules>
        </suite>
    </phpunit>
</config>
