<?xml version="1.0" ?>
<config>
    <modules>
        <GoodsCloud_Sync>
            <version>1.0.5</version>
        </GoodsCloud_Sync>
    </modules>
    <global>
        <models>
            <goodscloud_sync>
                <class>GoodsCloud_Sync_Model</class>
            </goodscloud_sync>
        </models>
        <blocks>
            <goodscloud_sync>
                <class>GoodsCloud_Sync_Block</class>
            </goodscloud_sync>
        </blocks>
        <resources>
            <goodscloud_sync_setup>
                <setup>
                    <module>GoodsCloud_Sync</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </goodscloud_sync_setup>
            <goodscloud_sync_catalog_setup>
                <setup>
                    <module>GoodsCloud_Sync</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </goodscloud_sync_catalog_setup>
            <goodscloud_sync_sales_setup>
                <setup>
                    <module>GoodsCloud_Sync</module>
                    <class>Mage_Sales_Model_Resource_Setup</class>
                </setup>
            </goodscloud_sync_sales_setup>
            <goodscloud_sync_customer_setup>
                <setup>
                    <module>GoodsCloud_Sync</module>
                    <class>Mage_Customer_Model_Resource_Setup</class>
                </setup>
            </goodscloud_sync_customer_setup>
        </resources>
        <helpers>
            <goodscloud_sync>
                <class>GoodsCloud_Sync_Helper</class>
            </goodscloud_sync>
        </helpers>
    </global>
    <default>
        <goodscloud_sync>
            <api>
                <unconfigurable_attributes>
                    <weight/>
                </unconfigurable_attributes>
                <ignored_attributes>
                    <!--<cost/>-->
                    <!--<country_of_manufacture/>-->
                    <category_ids/>
                    <created_at/>
                    <custom_design/>
                    <custom_design_from/>
                    <custom_design_to/>
                    <custom_layout_update/>
                    <description/>
                    <gallery/>
                    <!--<gift_message_available/>-->
                    <group_price/>
                    <gc_product_ids/>
                    <has_options/>
                    <image/>
                    <image_label/>
                    <is_recurring/>
                    <links_exist/>
                    <links_purchased_separately/>
                    <links_title/>
                    <!--<manufacturer/>-->
                    <media_gallery/>
                    <meta_description/>
                    <meta_keyword/>
                    <meta_title/>
                    <minimal_price/>
                    <!--<msrp/>-->
                    <!--<msrp_display_actual_price_type/>-->
                    <!--<msrp_enabled/>-->
                    <!--<name/>-->
                    <!--<news_from_date/>-->
                    <!--<news_to_date/>-->
                    <old_id/>
                    <options_container/>
                    <page_layout/>
                    <price/>
                    <price_type/>
                    <price_view/>
                    <recurring_profile/>
                    <required_options/>
                    <samples_title/>
                    <shipment_type/>
                    <short_description/>
                    <sku/>
                    <sku_type/>
                    <small_image/>
                    <small_image_label/>
                    <!--<special_from_date/>-->
                    <!--<special_price/>-->
                    <!--<special_to_date/>-->
                    <status/>
                    <tax_class_id/>
                    <thumbnail/>
                    <thumbnail_label/>
                    <tier_price/>
                    <updated_at/>
                    <!--<url_key/>-->
                    <url_path/>
                    <!--<visibility/>-->
                    <!--<weight/>-->
                    <weight_type/>
                    <category_ids/>
                </ignored_attributes>
                <boolean_source_models>
                    <boolean>eav/entity_attribute_source_boolean</boolean>
                </boolean_source_models>
                <enum_types>
                    <select>select</select>
                    <multiselect>multiselect</multiselect>
                </enum_types>
                <goodscloud_country_codes>
                    <AD/>
                    <AE/>
                    <AF/>
                    <AG/>
                    <AI/>
                    <AL/>
                    <AM/>
                    <AO/>
                    <AQ/>
                    <AR/>
                    <AS/>
                    <AT/>
                    <AU/>
                    <AW/>
                    <AX/>
                    <AZ/>
                    <BA/>
                    <BB/>
                    <BD/>
                    <BE/>
                    <BF/>
                    <BG/>
                    <BH/>
                    <BI/>
                    <BJ/>
                    <BL/>
                    <BM/>
                    <BN/>
                    <BO/>
                    <BQ/>
                    <BR/>
                    <BS/>
                    <BT/>
                    <BV/>
                    <BW/>
                    <BY/>
                    <BZ/>
                    <CA/>
                    <CC/>
                    <CD/>
                    <CF/>
                    <CG/>
                    <CH/>
                    <CI/>
                    <CK/>
                    <CL/>
                    <CM/>
                    <CN/>
                    <CO/>
                    <CR/>
                    <CU/>
                    <CV/>
                    <CW/>
                    <CX/>
                    <CY/>
                    <CZ/>
                    <DE/>
                    <DJ/>
                    <DK/>
                    <DM/>
                    <DO/>
                    <DZ/>
                    <EC/>
                    <EE/>
                    <EG/>
                    <EH/>
                    <ER/>
                    <ES/>
                    <ET/>
                    <FI/>
                    <FJ/>
                    <FK/>
                    <FM/>
                    <FO/>
                    <FR/>
                    <GA/>
                    <GB/>
                    <GD/>
                    <GE/>
                    <GF/>
                    <GG/>
                    <GH/>
                    <GI/>
                    <GL/>
                    <GM/>
                    <GN/>
                    <GP/>
                    <GQ/>
                    <GR/>
                    <GS/>
                    <GT/>
                    <GU/>
                    <GW/>
                    <GY/>
                    <HK/>
                    <HM/>
                    <HN/>
                    <HR/>
                    <HT/>
                    <HU/>
                    <ID/>
                    <IE/>
                    <IL/>
                    <IM/>
                    <IN/>
                    <IO/>
                    <IQ/>
                    <IR/>
                    <IS/>
                    <IT/>
                    <JE/>
                    <JM/>
                    <JO/>
                    <JP/>
                    <KE/>
                    <KG/>
                    <KH/>
                    <KI/>
                    <KM/>
                    <KN/>
                    <KP/>
                    <KR/>
                    <KW/>
                    <KY/>
                    <KZ/>
                    <LA/>
                    <LB/>
                    <LC/>
                    <LI/>
                    <LK/>
                    <LR/>
                    <LS/>
                    <LT/>
                    <LU/>
                    <LV/>
                    <LY/>
                    <MA/>
                    <MC/>
                    <MD/>
                    <ME/>
                    <MF/>
                    <MG/>
                    <MH/>
                    <MK/>
                    <ML/>
                    <MM/>
                    <MN/>
                    <MO/>
                    <MP/>
                    <MQ/>
                    <MR/>
                    <MS/>
                    <MT/>
                    <MU/>
                    <MV/>
                    <MW/>
                    <MX/>
                    <MY/>
                    <MZ/>
                    <NA/>
                    <NC/>
                    <NE/>
                    <NF/>
                    <NG/>
                    <NI/>
                    <NL/>
                    <NO/>
                    <NP/>
                    <NR/>
                    <NU/>
                    <NZ/>
                    <OM/>
                    <PA/>
                    <PE/>
                    <PF/>
                    <PG/>
                    <PH/>
                    <PK/>
                    <PL/>
                    <PM/>
                    <PN/>
                    <PR/>
                    <PS/>
                    <PT/>
                    <PW/>
                    <PY/>
                    <QA/>
                    <RE/>
                    <RO/>
                    <RS/>
                    <RU/>
                    <RW/>
                    <SA/>
                    <SB/>
                    <SC/>
                    <SD/>
                    <SE/>
                    <SG/>
                    <SH/>
                    <SI/>
                    <SJ/>
                    <SK/>
                    <SL/>
                    <SM/>
                    <SN/>
                    <SO/>
                    <SR/>
                    <SS/>
                    <ST/>
                    <SV/>
                    <SX/>
                    <SY/>
                    <SZ/>
                    <TC/>
                    <TD/>
                    <TF/>
                    <TG/>
                    <TH/>
                    <TJ/>
                    <TK/>
                    <TL/>
                    <TM/>
                    <TN/>
                    <TO/>
                    <TR/>
                    <TT/>
                    <TV/>
                    <TW/>
                    <TZ/>
                    <UA/>
                    <UG/>
                    <UM/>
                    <US/>
                    <UY/>
                    <UZ/>
                    <VA/>
                    <VC/>
                    <VE/>
                    <VG/>
                    <VI/>
                    <VN/>
                    <VU/>
                    <WF/>
                    <WS/>
                    <YE/>
                    <YT/>
                    <ZA/>
                    <ZM/>
                    <ZW/>
                </goodscloud_country_codes>
            </api>
            <advanced>
                <base_url></base_url>
                <sandbox_base_url>https://sandbox.goodscloud.com/</sandbox_base_url>
                <sandbox_mode>1</sandbox_mode>
            </advanced>
            <invoice>
                <format>plain</format>
            </invoice>
            <creditnote>
                <format>plain</format>
            </creditnote>
        </goodscloud_sync>
    </default>
    <phpunit>
        <suite>
            <modules>
                <GoodsCloud_Sync/>
            </modules>
        </suite>
    </phpunit>
    <adminhtml>
        <!--
        <events>
            <catalog_product_save_before>
                <observers>
                    <goodscloud_sync>
                        <type>singleton</type>
                        <class>goodscloud_sync/observer</class>
                        <method>catalogProductSaveBefore</method>
                    </goodscloud_sync>
                </observers>
            </catalog_product_save_before>
            <catalog_category_save_before>
                <observers>
                    <goodscloud_sync>
                        <type>singleton</type>
                        <class>goodscloud_sync/observer</class>
                        <method>catalogCategorySaveBefore</method>
                    </goodscloud_sync>
                </observers>
            </catalog_category_save_before>
            <catalog_controller_product_delete>
                <observers>
                    <goodscloud_sync>
                        <type>singleton</type>
                        <class>goodscloud_sync/observer</class>
                        <method>catalogControllerProductDelete</method>
                    </goodscloud_sync>
                </observers>
            </catalog_controller_product_delete>
            <catalog_product_attribute_update_before>
                <observers>
                    <goodscloud_sync>
                        <type>singleton</type>
                        <class>goodscloud_sync/observer</class>
                        <method>catalogProductAttributeUpdateBefore</method>
                    </goodscloud_sync>
                </observers>
            </catalog_product_attribute_update_before>
            <catalog_entity_attribute_save_before>
                <observers>
                    <goodscloud_sync>
                        <type>singleton</type>
                        <class>goodscloud_sync/observer</class>
                        <method>catalogEntityAttributeSaveBefore</method>
                    </goodscloud_sync>
                </observers>
            </catalog_entity_attribute_save_before>
            <eav_entity_attribute_set_save_before>
                <observers>
                    <goodscloud_sync>
                        <type>singleton</type>
                        <class>goodscloud_sync/observer</class>
                        <method>eavEntityAttributeSetSaveBefore</method>
                    </goodscloud_sync>
                </observers>
            </eav_entity_attribute_set_save_before>
        </events>
        -->
        <translate>
            <modules>
                <goodscloud_sync>
                    <files>
                        <default>GoodsCloud_Sync.csv</default>
                    </files>
                </goodscloud_sync>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <gc_order_export>
                <schedule>
                    <cron_expr>0 */5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>goodscloud_sync/export_cron::exportOrders</model>
                </run>
            </gc_order_export>
            <gc_sync>
                <schedule>
                    <cron_expr>0 */5 * * *</cron_expr>
                </schedule>
                <run>
                    <model>GoodsCloud_Sync_Model_sync_cron::sync</model>
                </run>
            </gc_sync>
        </jobs>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <goodscloud_sync before="Mage_Adminhtml">GoodsCloud_Sync_Adminhtml</goodscloud_sync>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
        <routers>
            <goodscloud_sync>
                <use>standard</use>
                <args>
                    <module>GoodsCloud_Sync</module>
                    <frontName>goodscloud_sync</frontName>
                </args>
            </goodscloud_sync>
        </routers>
        <layout>
            <updates>
                <goodscloud_sync>
                    <file>goodscloud_sync.xml</file>
                </goodscloud_sync>
            </updates>
        </layout>
    </frontend>
</config>
